.baner-container{
    display: flex;
    width: 100%;
    margin: auto;
    transition: .5s;
    will-change: transform;
    outline: 1px solid transparent;
    -webkit-transform-style: flat;
    transform-style: flat;
}