.baner-container{
    display: flex;
    width: 100%;
    margin: auto;
    transition: 3s;
    will-change: transition;
    /* outline: 1px solid transparent;
    -webkit-transform-style: flat;
    transform-style: flat; */
}